<h1>Eat-Da-Burger</h1>

<div id="waiting">
  <h2>Burgers Waiting To Be Devoured:</h2>
  <ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <button class="edit" data-id="{{id}}" data-newDevoured="{{devoured}}">
        Devour It!
      </button>
    </li>
    {{/unless}}
    {{/each}}
  </ol>
</div>

<div id="newBurger">
  <h2>Add A Delicious Burger:</h2>
  <form class="create-form">
    <div class="form-group">
      <label for="burgerName">Burger Name:</label>
      <input type="text" id="burgerName" name="name">
    </div>

    <button type="submit">Add Burger!</button>
  </form>
</div>

<div id="devoured">
  <h2>Devoured Burgers:</h2>
  <ol>
    {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
  </ol>
</div>